$dark-gray: #202020;
$medium-gray: #333333;
$light-gray: #5f5f5f;
$green: rgb(35, 196, 134);
$border-green: rgb(52, 218, 154);
$dark-purple: rgba(124, 11, 168, 0.877);
$light-purple: rgba(165, 9, 226, 0.877);
$blue: #34f8ff;
$bluewhite: #c8fdff;
$white: #edf5e1;
$pink: #f52f80;
$lightpink: #ff5ca0;
$card-gradient-1: #4b4b4b;
$card-gradient-2: #363636;
$card-gradient-3: #2c2c2c;
$scale-button-gradient-1: rgba(124, 11, 168, 0.877);
$scale-button-gradient-2: rgba(117, 14, 158, 0.877);
$scale-button-gradient-3: rgba(104, 10, 141, 0.877);
$scale-button-gradient-4: rgba(97, 7, 133, 0.877);

body {
  font-family: "Roboto", sans-serif;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $dark-gray;
  color: $white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0px;
  overflow: hidden;
}

button {
  transition-duration: 0.25s;
}

button:hover {
  cursor: pointer;
  transition-duration: 0.25s;
}

button:focus {
  outline: none;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-selector-container {
  display: flex;
  flex-direction: column;
  .note-button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: $card-gradient-1;
    padding: 0.5rem;
    .note-button {
      border: 2px solid $light-purple;
      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;
      margin: 0.1rem;
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
    .note-button:hover {
      border: 2px solid $bluewhite;
      color: $white;
    }
    .note-button#unselected {
      background: $dark-purple;
      color: $white;
    }
    .note-button#selected {
      border: 2px solid $dark-gray;
      background: $green;
      color: $dark-gray;
    }
  }
}

.toggle-button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: $card-gradient-2;
  padding: 0.25rem;
  .round-button-gray {
    border: 2px solid $light-gray;
    width: 2rem;
    height: 2rem;
    line-height: 1rem;
    font-size: 1rem;
    border-radius: 50%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    background-color: $medium-gray;
    color: $white;
  }
  .round-button-gray:hover {
    border: 2px solid $bluewhite;
  }
  .rectangular-button-gray {
    border: 2px solid $light-gray;
    width: 12rem;
    height: 2rem;
    line-height: 1.25rem;
    font-size: 1.25rem;
    border-radius: 0.15rem;
    transition-duration: 0.25s;
    background-color: $medium-gray;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    color: $white;
  }
  .rectangular-button-gray:hover {
    border: 2px solid $bluewhite;
  }
  .rectangular-button-gray#selected-green {
    width: 12rem;
    height: 2rem;
    font-size: 1.25rem;
    border-radius: 0.15rem;
    transition-duration: 0.25s;
    border: 2px solid $dark-gray;
    background-color: $green;
    color: $dark-gray;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .rectangular-button-gray#selected-blue {
    width: 12rem;
    height: 2rem;
    font-size: 1.25rem;
    border-radius: 0.15rem;
    transition-duration: 0.25s;
    border: 2px solid $dark-gray;
    background-color: $blue;
    color: $dark-gray;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .rectangular-button-gray#selected-green:hover {
    border: 2px solid $bluewhite;
  }
  .rectangular-button-gray#selected-blue:hover {
    border: 2px solid $bluewhite;
  }
  .degree-notation-options {
    position: absolute;
    right: 1rem;
    padding-top: 0.25rem;
    button {
      background-color: transparent;
      color: $light-gray;
      margin: 0.1rem;
      border: none;
    }
    .on {
      color: $blue;
    }
  }
}

.scale-tray {
  background-color: $card-gradient-1;
  padding-bottom: 0.25rem;
  .open-scale-tray-button {
    font-size: 1.25rem;
    border: 2px solid $light-purple;
    background-color: $dark-purple;
    border-radius: 0.1rem;
    width: 250px;
    height: 2rem;
    color: $white;
    margin: 0.1rem;
  }
  .open-scale-tray-button:hover,
  .open-scale-tray-button#open {
    border: 2px solid $bluewhite;
  }
  .scale-tray-open {
    width: 100%;
    padding: 0;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    min-height: 50px;
    transition-duration: 0.25s;
    .scale-button-row1 {
      font-size: 1rem;
      border: 2px solid $light-purple;
      background-color: $scale-button-gradient-1;
      border-radius: 0.1rem;
      width: 16%;
      height: 1.75rem;
      color: $white;
      margin: 0.05rem;
      transition-duration: 0.25s;
    }
    .scale-button-row1#selected {
      opacity: 0.5;
    }
    .scale-button-row1:hover {
      border: 2px solid $bluewhite;
    }
    .scale-button-row2 {
      font-size: 1rem;
      border: 2px solid $light-purple;
      background-color: $scale-button-gradient-2;
      border-radius: 0.1rem;
      width: 16%;
      height: 1.75rem;
      color: $white;
      margin: 0.05rem;
      transition-duration: 0.25s;
    }
    .scale-button-row2#selected {
      opacity: 0.5;
    }
    .scale-button-row2:hover {
      border: 2px solid $bluewhite;
    }
    .scale-button-row3 {
      font-size: 1rem;
      border: 2px solid $light-purple;
      background-color: $scale-button-gradient-3;
      border-radius: 0.1rem;
      width: 16%;
      height: 1.75rem;
      color: $white;
      margin: 0.05rem;
      transition-duration: 0.25s;
    }
    .scale-button-row3#selected {
      opacity: 0.5;
    }
    .scale-button-row3:hover {
      border: 2px solid $bluewhite;
    }
    .scale-button-row4 {
      font-size: 1rem;
      border: 2px solid $light-purple;
      background-color: $scale-button-gradient-4;
      border-radius: 0.1rem;
      width: 16%;
      height: 1.75rem;
      color: $white;
      margin: 0.05rem;
      transition-duration: 0.25s;
    }
    .scale-button-row4#selected {
      opacity: 0.5;
    }
    .scale-button-row4:hover {
      border: 2px solid $bluewhite;
    }
    .scale-tray-footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 0.1rem;
      span {
        margin-top: 0.25rem;
        font-size: 0.8rem;
      }
    }
    #toggle-switch {
      border: 1px solid $medium-gray;
      border-radius: 0.1rem;
      width: 1rem;
      height: 1rem;
      margin-left: 0.25rem;
      margin-top: 0.25rem;
      margin-right: 0.25rem;
    }
    .toggle-switch-on {
      background-color: $green;
      border: 1px solid $dark-gray;
      color: $dark-gray;
    }
    .toggle-switch-off {
      background-color: $card-gradient-2;
      color: $card-gradient-2;
    }
  }
}

.fretboard {
  .fretboard-options-container {
    padding: 0.35rem;
    background: $card-gradient-3;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .guitar-string-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .guitar-string {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 0.5rem;
      .string-tuning {
        font-size: 1.25rem;
        color: $green;
        margin: 0rem;
      }
      .fret-row-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}

.fret {
  border-radius: 0.1rem;
  width: 3.4rem;
  height: 2.3rem;
  line-height: 2.3rem;
  margin-right: 0.5rem;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .fret-text {
    padding: 0;
    margin: 0;
    font-size: 1.15rem;
  }
  .fret-label {
    padding-top: 0.25rem;
    width: 3.25rem;
    color: $white;
    justify-content: center;
  }
  .degree-container {
    transition-duration: 0.25s;
    position: fixed;
    font-size: 1rem;
    color: $blue;
    margin-left: 2.4rem;
    margin-top: -0.5rem;
  }
  .sargam-container {
    transition-duration: 0.25s;
    position: fixed;
    font-size: 0.75rem;
    color: $blue;
    margin-left: 2.35rem;
    margin-top: -0.75rem;
  }
  .degree-hidden {
    transition-duration: 0.25s;
    position: fixed;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0);
    margin-left: 2.4rem;
    margin-top: -0.5rem;
  }
}

#highlighted {
  background-color: $green;
  color: $dark-gray;
}
#scale-note {
  background-color: $dark-purple;
  color: $white;
}
#unused-note {
  background-color: $light-gray;
  color: $white;
}
#blank-fret {
  background-color: $light-gray;
  color: $light-gray;
}

.stepper {
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  .stepper-btn-container {
    display: flex;
    flex-direction: row;
    span {
      font-size: 1rem;
      margin-right: 0.5rem;
    }
  }
  .stepper-label {
    padding-top: 0.25rem;
    font-size: 0.5rem;
    color: $white;
    justify-content: center;
  }
}

#counter {
  color: $bluewhite;
  margin-left: 0.5rem;
  font-weight: bold;
}

.plus-or-minus-btn {
  margin: 0;
  padding: 0;
  border: none;
  height: 1.25rem;
  width: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  background-color: $card-gradient-3;
  color: $white;
  transition-duration: 0.25s;
}

.plus-or-minus-btn#limit:hover {
  color: red;
}

.plus-or-minus-btn:hover:hover {
  color: $bluewhite;
}

#randomize-button {
  position: absolute;
  top: 0.5%;
  left: 0.25%;
  justify-content: center;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: $white;
  background-color: $dark-purple;
  border: 2px solid $light-purple;
  transition-duration: 0.25s;
}

#randomize-button:hover {
  border: 2px solid $bluewhite;
  color: $bluewhite;
}

#reset-button {
  position: absolute;
  top: 0.5%;
  left: 2.5%;
  justify-content: center;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: $white;
  background-color: $dark-purple;
  border: 2px solid $light-purple;
  transition-duration: 0.25s;
}

#reset-button:hover {
  border: 2px solid $bluewhite;
  color: $bluewhite;
}

.guitar-string-head {
  display: flex;
  flex-direction: row;
  margin-top: 0.3rem;
  justify-content: center;
  .button-round-small-pink {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    font-size: 1rem;
    margin-left: 0.15rem;
    background-color: $pink;
    border: 2px solid $lightpink;
    color: $white;
    transition-duration: 0.25s;
  }
  .button-round-small-pink:hover {
    border: 2px solid $bluewhite;
  }
  .string-degree {
    color: $blue;
    font-size: 0.75rem;
    bottom: 0.55rem;
    left: 2.5rem;
    width: 0.75rem;
    transition-duration: 0.25s;
    position: relative;
  }
  .string-sargam {
    color: $blue;
    font-size: 0.75rem;
    bottom: 0.55rem;
    left: 2.5rem;
    width: 0.75rem;
    transition-duration: 0.25s;
    position: relative;
  }
  .hidden-degree {
    color: $dark-gray;
    font-size: 0.75rem;
    bottom: 0.55rem;
    left: 2.5rem;
    width: 0.75rem;
    transition-duration: 0.25s;
    position: relative;
  }
  .string-tuning {
    padding-right: 0.75rem;
    min-width: 3rem;
    text-align: center;
  }

  .string-tuning#highlighted {
    background-color: $dark-gray;
    color: $green;
  }
  .string-tuning#scale-note {
    background-color: $dark-gray;
    color: $light-purple;
  }
  .string-tuning#unused-note {
    background-color: $dark-gray;
    color: $white;
  }
}

.info-popup {
  border: 1px solid $light-purple;
  background-color: $dark-gray;
  z-index: 10;
  position: absolute;
  width: 98%;
  min-height: 5rem;
  h4 {
    color: $green;
    margin: 0.5rem;
    font-size: 1.25rem;
  }
  .key {
    color: $blue;
    font-size: 1rem;
    margin: 0.5rem;
  }
  .hidden {
    color: $dark-gray;
    font-size: 1rem;
    margin: 0.5rem;
  }
  footer {
    font-size: 0.75rem;
    margin-bottom: 0.1rem;
    color: $light-purple;
  }
}

.app-store-link {
  font-size: 1rem;
  transition-duration: .25s;
  text-decoration: none;
  color: $white;
  position: absolute;
  top: 0.5%;
  right: 0.5%;
}

.app-store-link:hover {
  color: $blue;
}

.email-link {
  font-size: 1rem;
  transition-duration: .25s;
  color: $white;
  text-decoration: none;
  position: absolute;
  top: 3%;
  right: 0.5%;
}

.email-link:hover {
  color: $blue;
}

.mobile-page {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  p {
    font-size: 1.2rem;
    color: $bluewhite;
  }
  .mobile-app-store-link {
    font-size: 1rem;
    font-weight: bold;
    transition-duration: .25s;
    text-decoration: none;
    color: $blue;
  }
  .mobile-email-link {
    font-size: 1rem;
    font-weight: bold;
    transition-duration: .25s;
    color: $green;
    text-decoration: none;
  }

  a:hover {
    color: $bluewhite;
  }
}